@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.portfolio {
  &__work {
    background-color: $secondary-alabaster;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;

    @include tablet {
      padding: 1.5rem;
    }
  }

  &__title {
    color: $primary-CharcoalBlue;
    border-bottom: 2px solid $secondary-slategray;
    padding: 1.5rem 7.5rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      flex-direction: row;
    }
  }

  &__card {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    @include tablet {
      width: 100%;
      height: 100%;
      padding: 2rem;
    }
  }

  &__img {
    box-sizing: border-box;
    width: 100%;
    

    @include tablet {
      height: 15rem;
      object-fit: cover;
    }
  }

  &__subcard {
    color: $secondary-slategray;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
