@font-face {
  font-family: "Archivo";
  src: url("../../assets/fonts/Archivo/static/Archivo-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Archivo";
  src: url("../../assets/fonts/Archivo/static/Archivo-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat/static/Montserrat-Regular.ttf")
    format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat/static/Montserrat-Bold.ttf")
    format("truetype");
  font-weight: 700;
}
