@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__subcontainer {
        display: flex;
        flex-direction: column;
    }

    &__input {
        width: 100%;
        box-sizing: border-box;
    }

    &__card {
        display: flex;
        flex-direction: column;
    }

    &__label {
        text-align: left;
    }

    &__btn {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: space-evenly;
    }
}