@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.registration {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/images/pawel-czerwinski-BFxnx0UHVGM-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    justify-content: flex-start;
  }

  @include desktop {
    justify-content: flex-start;
  }

  &__wrapper {
    width: 60%;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    padding: 1.25rem 1.875rem;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);

    @include tablet {
      width: 38%;
      padding: 2rem 3rem 2rem 3rem;
      left: 3rem;
    }

    @include desktop {
      width: 30%;
      padding: 4rem 3rem 4rem 3rem;
      left: 7rem;
    }
  }

  &__container {
    display: flex;
    padding: 0.5rem;
  }

  &__title,
  &__subtitle {
    color: $primary-Timberwolf;
  }

  &__link {
    color: $primary-Peachcrayon;
  }

  &__card {
    display: flex;
    justify-content: center;
    gap: 0.5rem;

    @include tablet {
      display: flex;
      justify-content: center;
      gap: 0.5rem;
    }

    @include desktop {
      display: flex;
      justify-content: center;
      gap: 0.5rem;
    }
  }
}
