@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.navBar {
    background-color: $background-nobel;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    border-top: 3px solid $primary-Peachcrayon;
    top: 13vh;
    right: 0;
    height: 25vh;
    width: 100%;
}